@use '../../variables' as *;

.tag {
    border-radius: 5px;
    //min-width: 124px;
    //height: 15px;
    padding: 3px 6px 4px;
    font-size: 12px;
    line-height: 9px; 
    font-weight: $font-weight-light; 
    margin: auto;
    background-color: $color-section;
    text-wrap: wrap;
    display: flex; 
    align-items: center;
}