@use '../../../variables' as *;

.table {
    border-radius: 10px;
    background-color: $color-main;
    text-align: center;
    overflow-x: scroll;
    width: 100%;

    &::-webkit-scrollbar {
        height: 8px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $color-dark; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($color-section,0.7);
        border-radius: 10px;
    }

}

.row {
    &:not(:last-child) {
        border-bottom: solid rgba(133, 133, 133, 1) 1px;
    }

    font-size: 16px;
    display: flex;
    flex-direction: row;
    //width: max(100%, 980px);
    width: max(100%, 840px);
    align-items: center;
    height: 34px;
    padding: 19px 0;

    .cell {
        //width: calc(100% / 7);
        width: calc(100% / 6);
        min-width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.icon {
    cursor: pointer;
}

.headerRow {
    font-size: 20px;
    font-weight: $font-weight-medium;
}

.dateTime {
    width: 140px;
}