@use '../../variables' as *;

.container {
    border-radius: 5px;  
    font-weight: $font-weight-light; 
    margin: auto;
    background-color: $color-section;
    text-wrap: wrap;
    display: flex; 
    align-items: center;
    padding: 7px 11px;
    gap: 7px;
    width: 80%;
    background-color: $color-main;
    p{
        margin: 0;
    }
    .timestamp{
        color: $color-text-secondary;
    }
}

.point{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-success;
}

.queue {
    background-color: $color-wait;
} 

.failed {
    background-color: $color-error;
}