@use '../../variables' as *;

.tag {
    border-radius: 3px;
    color: $color-text-main;
    width: 100px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    max-width: 100px;
    min-width: 100px;
    margin: auto;

}


.queue {
    background-color: $color-wait;
}

.delivered {
    background-color: $color-success;
}

.failed {
    background-color: $color-error;
}