 .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 10px;
     font-size: 18px;
 }

 .icon {
     height: 20px;
     width: 20px;
 }

 .title {
     margin-bottom: 10px;
     margin-top: 0;
 }

 .headerSwitch {
     height: 100%;

     div {
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 20px;
     }
 }