$color-section: rgba(25, 41, 63, 1);
$color-dark: rgba(18, 28, 46, 1);
$color-main: rgba(39, 73, 109, 1);
$color-wait: rgba(255, 193, 7, 1);
$color-success: rgba(40, 167, 69, 1);
$color-error: rgba(220, 53, 69, 1);
$color-btn: rgba(255, 0, 53, 1);
$color-btn-dark: rgb(155, 0, 31);
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$color-text-main: white;
$color-text-secondary: rgba(153, 170, 187, 1);