.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.container> :nth-child(1) {
    flex: 0 0 55%; // ocupa 55% del ancho
}

.container> :not(:nth-child(1)) {
    flex: 1; // los demás se reparten el resto
}